p.title{
        text-align: center;
    font-family: sans-serif;
    font-size: 25px;
    margin: 25px;
}
.world table{
    padding: 0;
    margin: 20px auto;
    border-spacing: 0;
    border: 1px solid #000;
    border-collapse: separate;
    border-radius: 5px;
    -moz-border-radius: 6px;
    }
.world td {
    padding: 0;
    border: 2px solid #000;
}

.cell {
    padding: 15px;
    display: block;
}
.cell.alive-false{
    background-color: #fff;
}
.cell.alive-true{
    background-color: #999;
}
button.game-button{
    display: block;
    margin: 0px auto;
}